.disable-text-selection{
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
   user-select:none;
}

@keyframes searching {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

.info {
  width: 40%;  
  margin: 0;
  padding-top: 0px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Eiko";
  font-size: 25px; 
  background-color: #f8f0e3; 
}

.queued {
  animation-name: searching;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: skyblue;
}

.seen {
  background-color: blue;
}

.path {
  background-color: yellow;
}
.wall {
  background-color: black;
}
.end {
  background-color:red;
}
.start {
  background-color: green;
}

/* table {
  position:absolute;
  transform: translate(-50%, 0%);
} */

table, table tbody tr td{
  border: 1px solid black;
  border-collapse: separate;
  /* margin: 0; */
  padding: 5;
  margin: auto;
}

td {
  height: 25px;
  width: 25px;
}

#modal-popup {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grid-navbar {
  /* margin: auto; */
  /* background-color: "#e7f1ff" */
  background-color: #e7f1ff;
  padding: 0;
  margin: 0;
}


#begin-search {
  background-color: skyblue;
}

.nav-item{
  color:white;
  margin: auto;
  padding: 0;
}

.selected {
  background-color: skyblue;
}

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}