.disable-text-selection{
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
   user-select:none;
}

@keyframes searching {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

.info {
  width: 40%;  
  margin: 0;
  padding-top: 0px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Eiko";
  font-size: 25px; 
  background-color: #f8f0e3; 
}

.queued {
  animation-name: searching;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: skyblue;
}

.seen {
  background-color: blue;
}

.path {
  background-color: yellow;
}
.wall {
  background-color: black;
}
.end {
  background-color:red;
}
.start {
  background-color: green;
}

/* table {
  position:absolute;
  transform: translate(-50%, 0%);
} */

table, table tbody tr td{
  border: 1px solid black;
  border-collapse: separate;
  /* margin: 0; */
  padding: 5;
  margin: auto;
}

td {
  height: 25px;
  width: 25px;
}

#modal-popup {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grid-navbar {
  /* margin: auto; */
  /* background-color: "#e7f1ff" */
  background-color: #e7f1ff;
  padding: 0;
  margin: 0;
}


#begin-search {
  background-color: skyblue;
}

.nav-item{
  color:white;
  margin: auto;
  padding: 0;
}

.selected {
  background-color: skyblue;
}

.links {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#myContainer {
  width: 100%;
  height: 800px;
  position: relative;
}
/* #myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  border: black
} */

.sort_element {
  width: 50px;
  height: 50px;
  position: absolute;
  /* background-color: red; */
  text-align: center;
  border-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.switch {
  background: red;
}

.bar {
  background: blue;
  position: relative;
}

/* td {
  padding: 1
} */

.sort {
  height: 200px;
  width: 25%
}

.bar:after {
  content: '\A';
  position: absolute;
  background: grey;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}

.complete {
  background: lawngreen;
}